:root {
  .theme-light {
    --bg: #f0e9d2;
    --navbar: #1a120b;
    --textColor: #1a120b;
    --textColor2: #e5ba73;
    --cardBg: #191919;
  }

  .theme-dark {
    --bg: #1a120b;
    --navbar: #f0e9d2;
    --textColor: #e5e5cb;
    --textColor2: #a87c02;
    --cardBg: #b3b38b;
  }
  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1.1rem;

  --textColor3: #735f32;
  --textColor4: #a27b5c;

  --font1: "Abel", sans-serif;
  --font2: "Courgette", cursive;
  --font3: "Secular One", sans-serif;
}

.app {
  height: 100%;
  background-color: var(--bg);
  font-family: var(--font1);
}
