:root {
  .theme-light {
    --bg: #f0e9d2;
    --navbar: #1a120b;
    --textColor: #1a120b;
    --textColor2: #e5ba73;
    --cardBg: #191919;
    --textP: #f0e9d2;
    --shadowBox: gray;
  }

  .theme-dark {
    --bg: #1a120b;
    --navbar: #f0e9d2;
    --textColor: #e5e5cb;
    --textColor2: #a87c02;
    --cardBg: #f0e9d2;
    --textP: #1a120b;
    --shadowBox: lightgray;
  }
  --h1: 2.5rem;
  --h2: 1.75rem;
  --h3: 1.35rem;
  --h4: 1.1rem;

  --textColor3: #735f32;
  --textColor4: #a27b5c;

  --font1: "Abel", sans-serif;
  --font2: "Courgette", cursive;
  --font3: "Secular One", sans-serif;
}

.app {
  height: 100%;
  width: 100vw;
  background-color: var(--bg);
  font-family: var(--font1);
}

.link {
  text-decoration: none;
  color: inherit;
}
