.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;
  height: 100vh;

  h1 {
    color: var(--textColor3);
    align-self: center;
    font-family: var(--font3);
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .container {
      display: flex;
      flex: 2;
      flex-direction: column;
      margin-top: 20px;

      .card {
        background-color: var(--cardBg);
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        cursor: pointer;

        span {
          color: var(--textP);
        }
      }
    }

    .detail {
      flex: 9;

      .card_detail {
        background-color: var(--cardBg);
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-radius: 10px;
        height: 400px;

        img {
          width: 50%;
          object-fit: cover;
          border-radius: 10px;
          flex: 7;
        }

        .desc {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 5;

          h2 {
            color: var(--textColor2);
          }
          p {
            color: var(--textColor4);
          }

          .skills {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 10px;
            gap: 10px;

            span {
              color: var(--textColor3);
              border: 0.3px solid var(--textColor3);
              padding: 2px 5px;
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
}

.visible {
  visibility: hidden;
}
