.navbar {
  background-color: var(--navbar);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 40px;

  font-family: var(--font3);
  filter: blur(1px) opacity(0.3);
  z-index: 11;

  &:hover {
    filter: blur(0) opacity(0.7);
  }


  .logo {
    font-family: var(--font1);
    font-size: var(--h1);
    font-weight: bold;
    color: var(--textColor2);
  }
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  
  .navSection {
    // padding: 5px 20px;
    cursor: pointer;

    display: flex;

    color: var(--bg);
    font-size: var(--h2);

    &:hover {
      transform: translateY(-2px) scale(1.1);
      color: #ffd56f;
    }

    .navIcon {
      padding: 10px;
    }
    span {
      padding: 10px;
    }
  }
    }
}


