.navbar {
  background-color: var(--navbar);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  width: fit-content;
  position: fixed;
  border-radius: 5px;
  top: 25%;
  font-family: var(--font3);
  filter: blur(1px) opacity(0.3);
  z-index: 11;

  &:hover {
    filter: blur(0) opacity(0.7);
  }

  .navSection {
    // padding: 5px 20px;
    cursor: pointer;

    display: flex;
    justify-content: flex-start;

    color: var(--bg);
    font-size: var(--h3-fontsize);

    &:hover {
      transform: translateY(-2px) scale(1.1);
      color: #ffd56f;
    }

    .navIcon {
      padding: 10px;
    }
    span {
      padding: 10px;
    }
  }
}


