.navbar {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  background-color: #faeab1;
  width: fit-content;
  position: sticky;
  border-radius: 5px;
  position: absolute;
  top: 25%;
  font-family: var(--font3);

  .navSection {
    // padding: 5px 20px;
    cursor: pointer;

    display: flex;
    justify-content: flex-start;

    color: var(--bg);
    font-size: var(--h3-fontsize);

    &:hover {
      transform: translateY(-2px) scale(1.1);
      color: #ffd56f;
    }

    .navIcon {
      padding: 10px;
    }
    span {
      padding: 10px;
    }
  }
}
